<div class="container">
	<div class="jumbotron">		
		<h1 class="display-4">
	     Mazda
		</h1>
		<img src="{{logo}}">
		<p class="lead">{{pais}}</p>
		<hr class="my-4">
		<h1 class="display-6">Origen</h1>
		<p class="lead">En {{anioFundacion}} fue fundada en {{pais}} colocandose en el sector {{sectorVentas}}.</p>
	</div>
</div>